<ul class="list-group">
  <li class="list-group-item"><%= link_to "Introduction", controller: :welcome, action: :index %></li>
  <li class="list-group-item"><%= link_to "Articles en vente", controller: :welcome, action: :articles %></li>
  <li class="list-group-item"><%= link_to "Gestion des commandes", controller: :welcome, action: :orders %></li>
  <li class="list-group-item"><%= link_to "QR codes", controller: :qrcode, action: :index %></li>
</ul>