<div class="page-header">
	<h1>Bienvenue dans BarTendr !</h1>
</div>

  <h2>Modifier la liste des produits en vente</h2>

    <p>Pour commencer, vous pouvez remplir la liste des boissons mises en vente en cliquant sur l'onglet <%= link_to '"Articles"', :controller => :articles, :action => :index %> de la barre de navigation, en haut à droite.</p>

    <p>Vous pouvez aussi indiquer quels sont les articles en rupture de stock au fur et à mesure de votre service, en décochant la case "Disponibilité", sur la page permettant de modifier un article.</p>

  <h2>Voir la liste des commandes passées</h2>

    <p>Pour voir la liste des commandes passées par les clients, vous pouvez cliquer sur l'onglet <%= link_to '"Commandes"', :controller => :orders, :action => :index %> dans la barre de navigation, en haut à droite.</p>
