<div class="page-header">
  <h1>Bienvenue dans BarTendr !</h1>
</div>

<div class="row">
  <div class="col-md-3">
    <%= render partial: 'menu' %>
  </div>

  <div class="col-md-9">
    <h2>Gestion des commandes</h2>

      <p>La gestion des commandes se fait sur une page spécifique, pour y aller, cliquer sur l'onglet "Commandes" dans la barre de navigation.</p>

      <p>Pour chaque commandes, le barman ou le serveur dispose des caractéristiques de la commande (prix, heure à laquelle elle a été passée, table depuis laquelle elle a été passée, ...) ainsi que de la liste des articles commandés.<p>

      <p>Il dispose également des informations relatives au traitement de la commandes, comme le fait qu'elle est été payée ou non par le client, et le fait qu'elle est été servie ou non. Le barman ou le serveur peut à son tour mettre à jour ces informations au fur et à mesure du traitement de la commande. Pour cela, il lui suffit de cliquer sur les boutons "Indiquer comme payé" ou "Indiquer comme servi".</p>

      <p>Une fois qu'une commande a été payée par le client, et servie, elle est automatiquement archivée.</p>

  </div>
</div>

