<div class="page-header">
	<h1 class="title">Activer les comptes</h1>
</div>

<div class="row">
	<table class="table">
		<% for user in @users %>
			<tr>
				<td><%= user.email %></td>
				<td>TODO: lien vers la page de l'utilisateur pour modifier ses droits</td>
			</tr>
		<% end %>
	</table>
</div>