<div class="page-header">
  <h1>Bienvenue dans BarTendr !</h1>
</div>

<div class="row">
  <div class="col-md-9">
    <h2>Gestion des articles en vente</h2>

      <p>Afin que les clients puissent commander depuis leur application, vous devez bien sûr leur indiquer la liste des produits en vente.</p>

      <p>Pour accéder à cette liste, cliquez sur l'onglet "Articles" dans la barre de navigation.</p>

      <p>Un système de catégories permet de trier les articles. Chaque article doit obligatoirement appartenir à une catégorie.</p>
  </div>

  <div class="col-md-3">
    <%= render partial: 'menu' %>
  </div>
</div>

