<%- model_class = Order -%>

<div  class="page-header row">
  <div style="float: left;">
    <h1>Commandes</h1>
  </div>
  <div style="float: right; width: 280px;">
    <div id="time-since-last-update"></div>
  </div>
</div>

<div id="orders-index-table"></div>

