/* CSS file for the navigation bar, 
   it only affects elements inside the element with id="navbar" */

#navbar {
  background: #3f86c2;
  width: auto;
  text-align: right;
}
#navbar div {  /* BarTendr logo */
  float: left; /* at the left of the menu bar */
  text-decoration: none;
  padding: 13px 0px 0px 15px; /* top right bottom left */
  font-size: 28px;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}
#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#navbar ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#navbar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#navbar ul li a:hover {
  color: #333333;
  background: #3f86c2;
}
#navbar ul li a:hover:before {
  width: 100%;
}
#navbar ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#navbar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#navbar ul li.last > a:after,
#navbar ul li:last-child > a:after {
  display: none; /* to not display a square delimiter after the last menu option */
}
#navbar ul li.active a:before {
  width: 100%;
}

/* special display for mobile devices */
@media screen and (max-width: 768px) {
  #navbar ul li {
    float: none;
    display: block;
  }
  #navbar ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #navbar ul li.last > a,
  #navbar ul li:last-child > a {
    border: 0;
  }
  #navbar ul li a:after {
    display: none;
  }
  #navbar ul li a:before {
    display: none;
  }
}

/* to remove the dotted line which appears after clicking on a menu item */
#navbar :focus {outline:none;}
#navber ::-moz-focus-inner {border:0;}
/* http://stackoverflow.com/questions/71074 */
